<table class="table table-striped">
  <tr class="success">
    <th>Content</th>
    <th>Course</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= Course.find(note.course_id).name %></td>
        <td><%= note.tag %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>