


<h1>Listing notes</h1>

<div id="notes"><%= render 'note' %></div>

<br />

<%= form_tag notes_path, :method => 'get', :id => "notes_search" do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>

<% end %>


<%= link_to 'New Note1', new_note_path %>


