<h1>Listing courses</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.id %></td>
    <td><%= link_to 'Show Notes', course, :class =>"btn btn-link" %></td>
    <td><%= link_to 'Edit Name', edit_course_path(course), :class =>"btn btn-link" %></td>
    <td><%= link_to 'Delete Course', course, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-link" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path, :class =>"btn btn-primary btn-large" %>
